:root{
    background-color: midnightblue;
}
/*Text styles*/
h1{
    font-size:xx-large;
    color: brown;
}
h2{
    color: antiquewhite;
}
p, li, h3{
    color: burlywood;
}
a{
    color: aqua;
}
/*Button styles*/
button{
    padding: 5px 10px;
    background-color: chocolate;
    border: none;
    font-weight: bold;
    color: aliceblue;
    margin: 20px;
}
/*Images styles*/
li img{
    width: 400px;
    border-radius: 40px;
}